<!-- Carga de bloque base -->
{% extends 'core/base.html' %}
<!-- Carga de estilos -->
{% load static %}
 <!-- Título del document -->
{% block titlePage %}
Teamfit - Cluster
{% endblock titlePage %}
<!-- Titulo de navegador -->
{% block titulo %}
Cluster
{% endblock titulo %}


<!-- Head -->
{% block estiloHead %}
{% endblock estiloHead %}
<!-- Body -->
{% block content %}
    <div class="container">
        <div class="card">
            <h3>
                Cluster
            </h3>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <!-- <button class="btn btn-primary">Iniciar Cluster</button> -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Subir archivo</button>
                </div>
            </form>
        </div>
        <div class="text-center">
            <h3><strong>{{mesg}}</strong></h3>
        </div>
    </div>
{% endblock content %}

<!-- Javascript -->
{% block UJS %}
{% endblock UJS %}