{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Incluir estilos y scripts necesarios -->
    {% load plotly_dash %}
    {{ app.callback_dependencies }}
</head>
<body>
    <div class="text-left mt-3"></divclass>
        <a href="{% url 'index' %}"> Volver</a>
    </div>
    <div>
        <h1>
            {{mesg}}
        </h1>
        
    </div>
    <div>
        {{ bar|safe }}
        {{ line|safe }}
    </div>
</body>
</html>