{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
Inicio
{% endblock titulo %}
{% block estiloHead %}
<style>
  .container .card .card-header {
    background-color: rgb(245, 245, 245);
    font-size: 1.5rem;
    border-bottom: 2px solid darkgray;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
  }
  .table-responsive {
    overflow-x: auto;
  }
  @media (max-width: 992px) {
    .col-md-6 {
      width: 100%;
      margin-bottom: 20px;}
    }
</style>
{% endblock estiloHead %}
{% block content %}
  <body>
    <br><br><br><br>
    <div class="container">
      <div class="row" >
          <!-- New Customers section -->
          <div class="col-md-7">
              <div class="card">
                  <div class="card-header">
                      Historial
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Fecha</th>
                          <th>Categoria</th>
                          <th>Sub-Categoria</th>
                          <th>Usuario</th>
                        </tr>
                        <tbody>
                          {% for val in hist %}
                          <!-- La class y los dato con que tienen "data-" son los relacionados al Pop up -->
                          <tr class="project-row">
                              <td>{{ val.idHist }}</td>
                              <td>{{ val.fecha }}</td>
                              <td>{{ val.categoria }}</td>
                              {% if val.prioridad == 3 %}
                              <td style="color: red;">{{ val.subcategoria }}</td>
                              {% else %}
                              <td>{{ val.subcategoria }}</td>
                              {% endif %}
                              
                              <td>{{ val.usuario__first_name}} {{val.usuario__last_name}}</td>
                          </tr>
                          {% empty %}
                          <tr>
                              <td colspan="15">No se han encontrado datos en el historial</td>
                          </tr>   
                          {% endfor %}
                        </tbody>
                      </thead>
                    </table>
                  </div>
              </div>
          </div>

          <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Últimos Proyectos
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Proyecto</th>
                        <th>Linea Negocio</th>
                        <th>Tipo Proyecto</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for val in proyectos %}
                      <!-- La class y los dato con que tienen "data-" son los relacionados al Pop up -->
                      <tr class="project-row">
                          <td>{{ val.id }}</td>
                          <td>{{ val.proyecto }}</td>
                          <td>{{ val.lineaNegocio }}</td>
                          <td>{{ val.tipo }}</td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="15">No se han encontrado proyectos</td>
                      </tr>   
                      {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
          
          <!-- <div class="col-md-6">
              <div class="card">
                  <div class="card-header">
                      ????????
                  </div>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                          {% for val in peng %}
                          <th>Penguin</th>
                          <th>Penguin</th>
                          <th>Penguin</th>
                          <th>Penguin</th>
                          {%endfor%}
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          {% for val in peng %}
                          <td><img style="width: 100%;" src="https://i.imgur.com/nw24QJU.png"></td>
                          <td><img style="width: 100%;" src="https://i.imgur.com/nw24QJU.png"></td>
                          <td><img style="width: 100%;" src="https://i.imgur.com/nw24QJU.png"></td>
                          <td><img style="width: 100%;" src="https://i.imgur.com/nw24QJU.png"></td>
                          {% endfor %}
                      </tr>
                      </tbody>
                  </table>
                  </div>
              </div>
          </div> -->
      </div>
    </div>
  </body>
  {% endblock content %}
