{% extends 'core/base.html' %}
{% load static %}
{% block titlePage %}
Teamfit - Parametros
{% endblock titlePage %}

{% block estiloHead %}
<style>
    .custom-grey-bg {
        background-color: lightgrey;
        padding: 10px; /* Optional: adds padding around the text */
    }
    .gray-bg {
        background-color: rgb(245, 245, 245);
    }

    .checkbox-container {
        display: flex;
        gap: 15px; /* Space between checkboxes */
    }
    .rounded-button {
        border-radius: 50px;
        border: none;
        box-shadow: none;
        padding: 15px 30px;
        font-size: 18px;
    }
    .toggle-btn {
        background-color: lightgrey;
        border: none;
        font-size: 1.5rem;
        padding: 0;
        width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: inherit;
    }

    .toggle-btn:focus {
        outline: none;
    }

    .arrow-icon {
        transition: transform 0.3s;
    }

    .collapsed .arrow-icon {
        transform: rotate(180deg);
    }
</style>
{% endblock estiloHead %}
{% block titulo %}
Parámetros del sistema
{% endblock titulo %}
{% block content %}
<body>
    <div class="container-fluid" style="margin-top: 70px;">
        <div class = "row">
            <div class = "col-md-12">
                <div class = "card">
                    <div>
                        <button class="toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#parametros-content" aria-expanded="true" aria-controls="parametros-content">
                            <h2 class="custom-grey-bg mb-0 col-md-6">
                                Parámetros eliminación de Registro
                            </h2>
                            <span class="arrow-icon">▼</span>
                        </button>
                        <div id="parametros-content" class="collapse show">
                            <div class="container">
                                <p>Las categorías seleccionadas no se eliminarán al vaciar el registro.</p>
                            </div>
                            <div class="container">
                                {% if messages %}
                                {% for mesg in messages %}
                                    <div class="alert alert-success container" role="alert">
                                        {{ mesg|safe }}
                                    </div>
                                {% endfor %}
                                {% endif %}
                                {% if merror %}
                                    {% for mesg in merror %}
                                        <div class="alert alert-danger container" role="alert">
                                            {{ mesg }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="main-checkbox">
                                        <div class="form-check">
                                            <!-- Autenticación -->
                                            <h6 class="gray-bg"> <strong>{{ form.autenticacion }} {{form.autenticacion.label}}</strong></h6>
                                            <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                                <div class="offset-md-1">{{ form.login }}{{ form.login.label }}</div>
                                                <div style="padding-left: 2%;">{{ form.logout }}{{ form.logout.label }}</div>
                                            </div>
                                            <!--  -->
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="main-checkbox">
                                        <!-- Configuración -->
                                        <h6 class="gray-bg"><strong>{{ form.configuracion }} {{form.configuracion.label}}</strong></h6>
                                        <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                            <div class="offset-md-1">{{ form.cambio_parametros }}{{ form.cambio_parametros.label }}</div>
                                            <div style="padding-left: 2%;">{{ form.cambio_conf_bd }}{{ form.cambio_conf_bd.label }}</div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <hr>
                                    <div class="main-checkbox">
                                        <!--Mantenimiento -->
                                        <h6 class="gray-bg"><strong>{{ form.mantenimiento }} {{form.mantenimiento.label}}</strong></h6>
                                        <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                            <div class="offset-md-1">{{ form.limpieza_datos }}{{ form.limpieza_datos.label }}</div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <hr>
                                    <div class="main-checkbox">
                                        <!--Error -->
                                        <h6 class="gray-bg"><strong>{{ form.error }} {{form.error.label}}</strong></h6>
                                        <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                            <div class="offset-md-1">{{ form.errores_sistema }}{{ form.errores_sistema.label }}</div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <hr>
                                    <div class="main-checkbox">
                                        <!--Auditoría -->
                                        <h6 class="gray-bg"><strong>{{ form.auditoria }} {{form.auditoria.label}}</strong></h6>
                                        <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                            <div class="offset-md-1">{{ form.quien_agrego_documentos }}{{ form.quien_agrego_documentos.label }}</div>
                                            <div style="padding-left: 2%;">{{ form.quien_agrego_usuario }}{{ form.quien_agrego_usuario.label }}</div>
                                            <div style="padding-left: 2%;">{{ form.quien_elimino_usuario }}{{ form.quien_elimino_usuario.label }}</div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <hr>
                                    <div class="main-checkbox">
                                        <!--Seguridad -->
                                        <h6 class="gray-bg"><strong>{{ form.seguridad }} {{form.seguridad.label}}</strong></h6>
                                        <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                            <div class="offset-md-1">{{ form.cambio_de_cargo }}{{ form.cambio_de_cargo.label }}</div>
                                            <div style="padding-left: 2%;">{{ form.actualizacion_permisos }}{{ form.actualizacion_permisos.label }}</div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <hr>
                                    <div class="main-checkbox">
                                        <!--Modelo -->
                                        <h6 class="gray-bg"><strong>{{ form.modelo }} {{form.modelo.label}}</strong></h6>
                                        <div class="checkbox-container" id="autenticacion-fields row"><!--Sub categorías-->
                                            <div class="offset-md-1">{{ form.realizacion_clusterizacion }}{{ form.realizacion_clusterizacion.label }}</div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <hr>
                                    <div class="text-align-center offset-sm-5">
                                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
</body>
{% endblock content %}


{% block UJS %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Función para manejar la selección de la main
        function handleMainCategoryChange(mainCategory, subCategories) {
            mainCategory.addEventListener("change", function () {
                subCategories.forEach(function (subCategory) {
                    subCategory.checked = mainCategory.checked;
                });
            });
        }
    
        // Función para manejar cambios en subcategorías
        function handleSubCategoryChange(mainCategory, subCategories) {
            subCategories.forEach(function (subCategory) {
                subCategory.addEventListener("change", function () {
                    // Sí cualquier subcategoría no está seleccionada, se deselecciona la main
                    if (!subCategory.checked) {
                        mainCategory.checked = false;
                    } else {
                        // Sí todas las sub están seleccionadas se selecciona la main
                        mainCategory.checked = subCategories.every(function (subCat) {
                            return subCat.checked;
                        });
                    }
                });
            });
        }
    
        // Autenticación
        const autenticacion = document.querySelector("input[name='autenticacion']");
        const login = document.querySelector("input[name='login']");
        const logout = document.querySelector("input[name='logout']");
        
        // Main category y Sub Category
        handleMainCategoryChange(autenticacion, [login, logout]);
        handleSubCategoryChange(autenticacion, [login, logout]);

        // Configuracion
        const configuracion = document.querySelector("input[name='configuracion']");
        const cambio_parametros = document.querySelector("input[name='cambio_parametros']");
        const cambio_conf_bd = document.querySelector("input[name='cambio_conf_bd']");
        
        // Main category y Sub Category
        handleMainCategoryChange(configuracion, [cambio_parametros, cambio_conf_bd]);
        handleSubCategoryChange(configuracion, [cambio_parametros, cambio_conf_bd]);
        
        // Mantenimiento
        const mantenimiento = document.querySelector("input[name='mantenimiento']");
        const limpieza_datos = document.querySelector("input[name='limpieza_datos']");
        
        // Main category y Sub Category
        handleMainCategoryChange(mantenimiento, [limpieza_datos]);
        handleSubCategoryChange(mantenimiento, [limpieza_datos]);
        
        // Error
        // Main category y Sub Category

        // Auditoría
        const auditoria = document.querySelector("input[name='auditoria']");
        const quien_agrego_documentos = document.querySelector("input[name='quien_agrego_documentos']");
        const quien_agrego_usuario = document.querySelector("input[name='quien_agrego_usuario']");
        const quien_elimino_usuario = document.querySelector("input[name='quien_elimino_usuario']");
        
        // Main category y Sub Category
        handleMainCategoryChange(auditoria, [quien_agrego_documentos, quien_agrego_usuario, quien_elimino_usuario]);
        handleSubCategoryChange(auditoria, [quien_agrego_documentos, quien_agrego_usuario, quien_elimino_usuario]);

        // Seguridad
        const seguridad = document.querySelector("input[name='seguridad']");
        const cambio_de_cargo = document.querySelector("input[name='cambio_de_cargo']");
        const actualizacion_permisos = document.querySelector("input[name='actualizacion_permisos']");
        
        // Main category y Sub Category
        handleMainCategoryChange(seguridad, [cambio_de_cargo, actualizacion_permisos]);
        handleSubCategoryChange(seguridad, [cambio_de_cargo, actualizacion_permisos]);

        // Modelo
        const modelo = document.querySelector("input[name='modelo']");
        const realizacion_clusterizacion = document.querySelector("input[name='realizacion_clusterizacion']");
        
        // Main category y Sub Category
        handleMainCategoryChange(modelo, [realizacion_clusterizacion]);
        handleSubCategoryChange(modelo, [realizacion_clusterizacion]);
    });
    
</script>
{% endblock UJS %}